{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block a %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - SocialSkill</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>

<body class="bg-gray-100">
    {% block b %}
    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <!--<div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">
                <div class="flex items-center lg:justify-between justify-around">
                    <a href="trending.html">
                       <b><h1 style="font-size: 1.5rem;">SocialSkill</h1></b>
                    </a>
                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                        <a href="/signup" class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Register</a>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="ad" style="position: relative; color:whitesmoke">
            <img src="../media/images/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg" alt="Advertisement" class="w-100" style="opacity: 1; filter:saturate(150%); filter: brightness(80%);">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div id="wrapper" class="lg:p-12  mx-auto p-6 space-y- text-center flex flex-col justify-between h-screen col-sm-6">
                    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-" >
                        <span class="m-3 p-3 font-semibold" style="font-size: 26px;"> Log In</span>
                        
                        <form action="/signin" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <!--<input type="hidden" name="user_id" value="{{ request.user.id }}">-->
                            <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; font-style: italic; color:lightgray; font-size: small;">
                            <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; font-style: italic; color:lightgray; font-size: small;">
                            <button type="submit" class="btn btn-light shadow-sm my_button" onclick="redirectToProfile()" style="background-image: linear-gradient(to right, #e3e2e2, #dbdbdb);" onmouseover="this.style.backgroundImage = 'linear-gradient(to right, #f09c7a, #f765a5)'" onmouseout="this.style.backgroundImage = 'linear-gradient(to right, #48e892, #2de5e5)'">Login</button>
                            
                            <script>
                                //questa funzione manda l
                                function redirectToProfile() {
                                    var userId = "{{ request.user.id }}";
                                    
                                    window.location.href = "{% url 'profile' request.user.id %}";
                                }
                            </script>

                            <div class="text-center mt-5 space-x-2">
                                <p class="text-base"> Not registered? <a href="/signup" class=""> Create an account </a></p>
                            </div>
                        </form>
                        
    
                    </div>
                
            </div>
            </div>
        </div>   
    </div>
    {% endblock %}
</body>
</html>